pkgbase = gitty-cli
	pkgdesc = Minimal Git CLI wrapper that speaks human
	pkgver = 2.2.1
	pkgrel = 1
	url = https://github.com/Omibranch/gitty
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = git
	optdepends = xclip: clipboard support (X11)
	optdepends = xsel: clipboard support (X11 fallback)
	optdepends = wl-clipboard: clipboard support (Wayland)
	optdepends = github-cli: full GitHub integration (push --share, rename repo, state URL)
	noextract = gitty-cli-2.2.1-x86_64
	noextract = gitty-cli-2.2.1-aarch64
	source_x86_64 = gitty-cli-2.2.1-x86_64::https://github.com/Omibranch/gitty/releases/download/v2.2.1/gitty-linux-amd64
	sha256sums_x86_64 = c217fd5b56dac48b9363b69d9d0bc080def7593f6129afb25d82a05318d0672e
	source_aarch64 = gitty-cli-2.2.1-aarch64::https://github.com/Omibranch/gitty/releases/download/v2.2.1/gitty-linux-arm64
	sha256sums_aarch64 = ed15890b0bcac7f6eba84d05f4b995749c2d8d07d64b4a87addcb2a265bb360c

pkgname = gitty-cli
